%h2 
  Edit account settings

%div#form-div

  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification 

    %div{:class => "form-inputs"}
      %div{:id => "form-contactinfo"}
        = f.label :first_name, "First Name"
        = f.input :first_name, required: true, label: false
        = f.label :last_name, "Last Name"
        = f.input :last_name, required: true, label: false 
        = f.label :email, "E-mail address"
        = f.input :email, required: true, label: false 
        = f.label :phonenumber, "Phone Number"
        = f.input :phonenumber, required: true, label: false 
        = f.label :city, "City"
        = f.input :city, required: true, label: false 
        = f.label :password_autocomplete, "Change Password", {:id => "change-password-btn", :onclick => "togglePassword()"}
        %div#password
          = f.input :password, autocomplete: "off", required: false, label: false
          = f.input :password_confirmation, required: false, label: false



      - if devise_mapping.confirmable? && resource.pending_reconfirmation? 
        %p Currently waiting confirmation for: 
        = resource.unconfirmed_email 

      %div#form-additional
        = f.label :description, "Write about yourself"
        = f.text_area :description, {:id => "textarea"}
        %div#count
        %div#avatar-div
          = image_tag current_user.user_avatar
          %div#file-field
            = f.label :avatar, "Choose avatar"
            = f.file_field :avatar
        %div#save
          = f.label :current_password, "Current Password"
          = f.input :current_password, hint: "Type your current password to confirm changes.", required: false, label: false   
          %div{:class => "form-actions"}
            = f.button :submit, "Save"      

    



