%h2 
  Edytuj ustawienia konta

%div#form-div

  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification 

    %div{:class => "form-inputs"}
      %div{:id => "form-contactinfo"}
        = f.label :first_name, "Imię"
        = f.input :first_name, required: true, label: false
        = f.label :last_name, "Nazwisko"
        = f.input :last_name, required: true, label: false 
        = f.label :email, "Adres e-mail"
        = f.input :email, required: true, label: false 
        = f.label :phonenumber, "Numer telefonu"
        = f.input :phonenumber, required: true, label: false 
        = f.label :city, "Miasto"
        = f.input :city, required: true, label: false 
        = f.label :password_autocomplete, "Zmień hasło", {:id => "change-password-btn", :onclick => "togglePassword()"}
        %div#password
          = f.input :password, autocomplete: "off", required: false, label: false
          = f.input :password_confirmation, required: false, label: false, hint: 'Potwierdź hasło'



      - if devise_mapping.confirmable? && resource.pending_reconfirmation? 
        %p Currently waiting confirmation for: 
        = resource.unconfirmed_email 

      %div#form-additional
        = f.label :description, "Napisz kilka słów o sobie"
        = f.text_area :description, {:id => "textarea"}
        %div#count
        %div#avatar-div
          = image_tag current_user.user_avatar
          %div#file-field
            = f.label :avatar, "Wybierz avatar"
            = f.file_field :avatar
        %div#save
          = f.label :current_password, "Obecne hasło"
          = f.input :current_password, hint: "Jeśli chcesz zatwierdzić zmiany, wpisz hasło", required: false, label: false   
          %div{:class => "form-actions"}
            = f.button :submit, "Zapisz"      

    



