

%div#register
  %h2 Zarejestruj się
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true}) do |f| 
    = f.error_notification

    %div{:class => "form-inputs"}
      = f.label :first_name, "Imię"
      = f.input :first_name, required: true, label: false
      = f.label :first_name, "Nazwisko"
      = f.input :last_name, required: true, label: false
      = f.label :first_name, "E-mail"
      = f.input :email, required: true, label: false
      = f.label :first_name, "Miasto"
      = f.input :city, required: true, label: false
      = f.label :first_name, "Hasło"
      = f.input :password, required: true, label: false
      = f.label :first_name, "Potwierdź hasło"
      = f.input :password_confirmation, required: true, label: false

    %div{:class => "form-actions"}
      = f.button :submit, "Sign up"


