= content_for :title, "Arbejder | Admin Panel"

= render 'admin/actionbuttons'

= render 'admin/employees'

= render 'admin/income'

= render 'admin/popularmeals'

%h1 Employees Performance
%div#orders-chart
	%div#buttons
		%div.button.active{alt: "barChartAllOrders"} All orders on a certain day
		%div.button{alt: "barChartAllEmployees"} All orders per employee
		%div.button{alt: "barChartAllEmployeesDailyComparison"} Orders per employee
	%div#chart
		%canvas#barChartAllOrders
		%canvas#barChartAllEmployees
		%canvas#barChartAllEmployeesDailyComparison

