= content_for :title, "Arbejder | Panel Administratora"

= render 'admin/actionbuttons'

= render 'admin/employees'

= render 'admin/income'

= render 'admin/popularmeals'

%h1 Produktywność roboli
%div#orders-chart
	%div#buttons
		%div.button.active{alt: "barChartAllOrders"} Wszystkie zamówienia danego dnia
		%div.button{alt: "barChartAllEmployees"} Wszystkie zamówienia pracowników
		%div.button{alt: "barChartAllEmployeesDailyComparison"} Porównanie zamówień
	%div#chart
		%canvas#barChartAllOrders
		%canvas#barChartAllEmployees
		%canvas#barChartAllEmployeesDailyComparison

