%div.user 
	%div.personal-info
		%div.profile-pic
			= image_tag @user.user_avatar, :id => "avatar"
		%div.name-info
			%h1
				= @user.first_name
				= @user.last_name
			%div.description
				%p
					= @user.description
		%div.contact-info
			%div#email.contact-row
				%div.contact-pic
					= image_tag 'email.svg', {class: "contact-image"}
				%h2
					= mail_to @user.email, @user.email
			%div#location.contact-row
				%div.contact-pic
					= image_tag 'location.png', {class: "contact-image"}
				%h2
					= @user.city
			%div#location.contact-row
				%div.contact-pic
					= image_tag 'telephone.svg', {class: "contact-image"}
				%h2
					= @user.phone_number

- if current_user.id == @user.id # showing chart only for the user that's logged in
	%h2{:id => "orders-header"} Pokaż ilość przyjmowanych zamówień
	%div#orders-chart
		%canvas#barChart


%h1 Współpracownicy
%div#user-list
	- @users.each do |user|
		- if user.id != @user
			%div.user-thumb
				= image_tag user.user_avatar, :id => "avatar", :data => {:link => user_path(user)}
				%h3= user.name 


