= content_for :title, "Arbejder | " + @user.name
%div.user 
	%div.personal-info
		%div.profile-pic
			= image_tag @user.user_avatar, :class => "avatar", :data => {:link => user_path(@user)}
		%div.name-info
			%h1
				= @user.first_name
				= @user.last_name
			%div.description
				%p
					= @user.description
		%div.contact-info
			%div#email.contact-row
				%div.contact-pic
					= image_tag 'email.svg', {class: "contact-image"}
				%h2
					= mail_to @user.email, @user.email
			%div#location.contact-row
				%div.contact-pic
					= image_tag 'location.png', {class: "contact-image"}
				%h2
					= @user.city
			%div#location.contact-row
				%div.contact-pic
					= image_tag 'telephone.svg', {class: "contact-image"}
				%h2
					= @user.phone_number
	- if current_user.id == @user.id					
		%div#settings{:data => {:link => edit_user_registration_path}}
			= image_tag 'settings.png', :alt => "Ustawienia"
%h1 Współpracownicy
%div.user-list
	- @users.each do |user|
		- if user.id != current_user.id
			%div.user-thumb{:data => {:link => user_path(user)}}
				= image_tag user.user_avatar, :class => "avatar", :data => {:link => user_path(user)}
				%div.username
					- if user.admin?
						= image_tag 'admin.png', :class => "admin-tag", :alt => "Admin"
					= link_to user.name, user_path(user)
- if current_user.id == @user.id || current_user.admin? # showing chart only for the user that's logged in and admin
	%h2{:id => "orders-header"} Pokaż ilość przyjmowanych zamówień
	%div#orders-chart
		%canvas#barChart

