= simple_form_for @order do |f|
  = f.simple_fields_for :meals, @order.meals.build do |meals|
    = meals.collection_select(:name, Dish.all, :name, :name)
    = meals.select "quantity", options_for_select((1..10))
  = f.submit

