= simple_nested_form_for @order do |f|
  = f.simple_fields_for :meals, @order.meals.build do |meals|
    = meals.collection_select(:name, Dish.all, :name, :name)
    %p= meals.link_to_remove "Remove this task"
    = meals.select "quantity", options_for_select((1..10))
  %p= f.link_to_add "Add task", :meals
  = f.submit


