%h2 Today's Orders
- @user_orders.each do |order|
	- if order.date == Date.today.strftime("%Y-%-m-%-d").to_s
		%table
			%tbody
				%tr
					%th.order-date{:colspan => 3}= order.date
				%tr
					%th Dish
					%th Quantity
					%th Price
					- order.meals.each do |meal|
						%tr
							%td= meal.name
							%td.quantity= meal.quantity
							%td.price
								= meal.price
								pln
				%tr
					%th{colspan: '3', class: "totalprice"}
						= order.total_price
						pln