%div#card
	%div#dish
		= image_tag @dish.dish_image, {:class => 'meal-image'}
		%h2= @dish.name
		%p= @dish.description
	%div#buttons
		= link_to 'Edytuj', edit_dish_path, {:id => "edit-dish"}
		= link_to 'Usuń', dish_path, method: :delete, :id => "delete-dish"
