= content_for :title, "Arbejder | Dish List"
%div#dishes
	%div#dish-list
		%table
			- @categories.each do |category|
				%tr
					%th{:colspan => "2", :class => :tableheader}= category
					%tr
					- @dishes.each do |dish|
						- if dish.category == category
							%tr
								%td= link_to dish.name, dish_path(dish), {:remote => true, :class => 'dish-link', :data => {:link => dish_path(dish)}}
								%td= "#{dish.price} pln"
			- if can? :manage, @dishes
				%tr#last
					%td{:colspan => "3"}
						= link_to '+', new_dish_path, {:id => "add-dish"}
	%div#dish-view
		%div#card
			= image_tag 'dish.svg'
			%h1 Asia House Restaurant

