- @posts.each do |post|
	%div.post
		= image_tag post.author_avatar, :class => 'post-avatar', :data => {:link => user_path(post.user_id)}
		%div.content
			%div.author-name
				= link_to post.author, user_path(post.user_id)
				%p= post.date
			%div.post-content
				%p= post.content
			%p.comment-count 
				Komentarzy:	
				= post.comments.count	
				|
				= link_to 'Comment', new_post_comment_path(post)
				-# |
				-# - if current_user.admin?
				-# 	= link_to 'Usuń posta', post_path(post), method: :delete, :data => {:confirm => "Czy jesteś pewien, że chcesz usunąć posta?"}

			
