%div#home.navbutton{:data => {:link => root_path}}
	= image_tag 'home.svg'
-if user_signed_in? && current_user.admin? 
	%div#home.navbutton{:data => {:link => admin_path}}
		= image_tag 'adminpanel.svg'
%div#avatar-div
	%div.dropdown
		- if user_signed_in?
			= image_tag current_user.user_avatar, {id: 'avatar-thumb', class: 'dropbtn'}
			%div.dropdown-content
				= link_to 'My Profile', user_path(current_user)
				= link_to 'Settings', edit_user_registration_path
				= link_to 'Sign Out', destroy_user_session_path, method: :delete

- if user_signed_in?
	%div.navbutton{:data => {:link => user_path(current_user)}}
		%p= link_to current_user.name, user_path(current_user)
