

%div.nav
  %div.nav-left
    = render 'layouts/menu'
  
  = form_with  :url => search_path, :local => true, :method => :get do |f|
    = f.text_field :q, :type => "text", :placeholder => "Szukaj...", :id => "search", :data => {:behavior => "autocomplete"}
    -# = f.button 'Search'
    

  - if user_signed_in?
    %div.login-buttons
      = link_to 'Lista Dań', dishes_path
      = link_to 'Nowe zamówienie', new_order_path
      = link_to 'Wyświetl zamówienia', orders_path      
  - else
    %div.login-buttons
      = link_to 'Log in', new_user_session_path
      = link_to 'Sign up', new_user_registration_path
