%html
%head
  %title= yield(:title)
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = favicon_link_tag 'favicon.ico'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'


%body{class: [controller_name, action_name] }
  = render 'layouts/nav'
  %div.wrapper
    %p.notice= notice
    %p.alert= alert
    = yield
  = render 'layouts/footer'
